body {
  background-image: url('BACKGROUND1.png');
  background-size: cover;
}

img {
	width: 25%;
	height: auto;
	"position:fixed; bottom:-1000000000000px;"
}

iframe {
    width: 25vw; 
    height: 14.0625vw; /* 100/56.25 = 560/315 = 1.778 */
}