body {
  background-image: url('BACKGROUND1.png');
  background-size: cover;
}

img {
	width: 40%;
	height: auto;
}

iframe {
    width: 40vw; 
    height: 22.5vw; /* 100/56.25 = 560/315 = 1.778 */
}